---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Main.astro';

export async function getStaticPaths() {
  const galleries = await getCollection('galleries');
  return galleries.map(gallery => ({
    params: { slug: gallery.slug }, props: { gallery },
  }));
}

const { gallery } = Astro.props;
---
<Layout title={gallery.data.title}>
    <section id={gallery.slug}>
        <div class="container text-center">
            <h2>{gallery.data.title}</h2>
            <small>Published on {gallery.data.published.toDateString()}</small>
            {gallery.data.photos.map(photo => (
                <div>
                    <figure class="photo">
                        <img 
                            src={`/photos/${gallery.slug}/${photo.src}`} 
                            width={photo.width} 
                            height={photo.height} 
                            alt={photo.alt} 
                        />
                    </figure>
                    <small>{photo.description}</small>
                </div>
            ))}
        </div>
    </section>
</Layout>